
$ButtonGrey:#ddd;
$ButtonGreen:#80cbc4;
$HeaderBarBlue:#00bbd3;
$TitleWhite:#fff;
$RegularText:rgba(255, 255, 255, 0.6);
$PlaceholderText:rgba(255, 255, 255, 0.4);
$GreenText:#92cbc5;
$ButtonTextGrey:#1c1c1c;
*{
  box-sizing: border-box;

font-family: 'Roboto', sans-serif;

}
body{background: #666;}
body,h1,h2,p,li{
  margin: 0;
  padding: 0;

}
ul{
  padding: 0;
  margin: 0;
}
.whole-container{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  height: 100vh;


}
.whole-container__inner{


}

.top-container{
  position: fixed;
  width: 50%;


  background: $HeaderBarBlue;


  &__inner{
    width: 100%;;
    .title{
      padding:1rem;
      color:$TitleWhite;
    }

  }
}
.container{
&__inner{
  background: black;
  height: 80vh;
}
}



.app{
width: 50vw;


&-list{
    list-style: none;
padding:4rem 1rem;
margin: 0 -.5rem;

&__item{
  color:$RegularText;
  display: flex;
  justify-content: space-between;
  border-bottom: $PlaceholderText solid .1rem;
  padding-top: 1rem;
}
}

}
