<div class="whole-container">
  <div class="whole-container__inner">
    <div class="top-container">
      <div class="top-container__inner">
        <h2 class="title">Run Timer</h2>
      </div>
    </div>
    <div class="container">
      <div class="container__inner">

    {{outlet}}

  </div>
</div>

</div>
</div>
