

<div class="app">
<ul class="app-list">
{{#each model as |value|}}


{{#link-to 'detail' value._id }}
{{#if value.runDate}}
  <li class="app-list__item divider">
  <p class="app-list__item-date">{{value.runDate}}</p>
  <p class="app-list__item-time">{{value.runTime}}</p>
  </li>
  {{/if}}
  {{/link-to}}
{{/each}}
</ul>

</div>
{{#link-to 'new'}}
<h2 class = "circle"><span>+</span></h2>
{{/link-to}}


{{outlet}}
