

<div class="app">
<ul class="app-list">
#{{#each model as |value|}}

{{log value}}
  <li class="app-list__item divider">
  <p class="app-list__item-date ">{{value.runDate}}</p>
  <p class="app-list__item-time">{{value.runTime}}</p>
  </li>
{{/each}}
</ul>

</div>
{{#link-to 'new'}}
<h1 class = "circle">CIrcle</h1>
{{/link-to}}


{{outlet}}
